$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$grey: rgb(216, 216, 216);
$light-grey: lighten($grey, 10);
$dark: rgb(39, 39, 39);


$purple-gradient: linear-gradient(336deg, $primary 0%, $secondary 100%);
$purple-gradient-lighten: linear-gradient(336deg, lighten($primary, 5) 0%, lighten($secondary, 5) 100%);

$standard-padding: 40px 50px;
$standard-title-margin: 30px;

$max-width-desk: 600px;