
.presentation {
    background-color: $light-grey;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    

    .location {
        padding: 20px;
        background-color: $grey;
        width: 100%;
        font-weight: 500;
        font-size: 0.96rem;
        i {
            position: relative;
            left: -25px;
            top: 0px;
        }
    }

    .explications {
        width: 100%;
        padding: 40px 10vw 40px 10vw;

        h1 {
            padding: 15px;
        }
    }

}

.fonctionnement {
    padding: 40px 50px;
    max-width: $max-width-desk;
    margin: auto;
    h1 {
        margin-bottom: $standard-title-margin;
    }
}

.restaurants {
    @include color($light-grey);
    > h1 {
        max-width: $max-width-desk;
        margin: auto auto $standard-title-margin auto;
    }
}