* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.shri {
    font-family: 'Shrikhand', cursive;
  }

.bg-primary {
    background-color: $primary;
}
.bg-secondary {
    background-color: $secondary;
}
.bg-tertiary {
    background-color: $tertiary;
}