footer {
    * {
        max-width: $max-width-desk;
        margin: auto;
    }
    @include color($dark);
    padding: 30px;
    .footer-div {
        margin-bottom: 10px;
        i {
            padding-right: 5px;
            width: 30px;
        }
    }
    h1 {
        font-size: 1.3rem;
        font-weight: 400;
        margin-bottom: 30px;
    }
    a {
        color: unset;
        text-decoration: none;
    }
}